<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        
        
        <add key="dataRoot" value="c:\stuffs\web\data\"/>
        <add key="webRoot" value="c:\stuffs\web\.www\"/>

        
        
        
        <!-- input stuff -->

        <!-- folders -->
        <add key="gigFolder" value="gigs\"/>
        <add key="lookupFolder" value="lookups\"/>
        <add key="imageFolder" value="images\"/>

        <!-- files -->
        <add key="calendarFile" value="months.csv"/>
        <add key="home" value="index.html"/>

        <!-- lookups -->
        <add key="monthColor" value="monthcolor.txt"/>

        
        
        
        

        <!-- output stuff -->
        
        
        <!-- folders -->
        <add key="calendarFolder" value="calendars/"/>

        <!-- files -->
        <add key="stylesheet" value="style.css"/>
        
        
    </appSettings>
</configuration>